
@model IEnumerable<WebLoja.Models.Produto>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/assets/css/jquery.mb.YTPlayer.min.css" />
<section class="home-section bg-dark-30" id="home" data-background="https://image.freepik.com/free-photo/black-metal-background-texture_88281-3955.jpg">
    <div class="video-player" data-property="{videoURL:'ZWkWH27VXWA',containment:'.home-section', showControls:false, autoPlay:true, loop:true,
         mute:true, startAt:10, stopAt:30, opacity:1, addRaster:true, quality:'large', optimizeDisplay:true, @*addFilters: {grayscale: 10,sepia: 10,opacity: 30}*@}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls">@*<a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a>*@</div>
        </div>
    </div>
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
            <div class="font-alt mb-40 titan-title-size-4">We are Titan</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
        </div>
    </div>
</section>
<form>
    <section class="module-small bg-dark" style="padding: 20px">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                    <div class="callout-text font-alt">
                        <h3 class="callout-title">Conheça nossos produtos</h3>
                        <p>Produtos exclusivos especialmente para você.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="callout-btn-box"><a class="btn btn-w btn-round" href="portfolio_boxed_gutter_col_3.html">Lets view portfolio</a></div>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">    
    <section class="module-small">
        <link rel="stylesheet" href="~/assets/css/ModuloProdutos.css" />
        <div class="container">
            <div class="row multi-columns-row">
                @foreach (var produto in Model)
                {
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="ibox">
                            <a asp-controller="PreCarrinho" asp-action="Index" asp-route-id="@produto.ProdutoId">
                                <div class="ibox-content product-box">
                                    <div class="product-imitation">
                                        <img src="@produto.ProdutoFoto" alt="Accessories Pack" />
                                    </div>
                                    <div class="product-desc">
                                        <span class="product-price">
                                            @produto.ProdutoValor.ToString("C")
                                        </span>
                                        <small class="text-muted">Categoria: tintas</small>
                                        <a href="#" class="product-name">@produto.ProdutoNome</a>

                                        <div class="small m-t-xs">
                                            Many desktop publishing packages and web page editors now.
                                        </div>
                                        <div class="m-t text-righ">

                                            <a asp-controller="PreCarrinho" asp-action="Index" asp-route-id="@produto.ProdutoId" class="btn btn-xs btn-outline btn-success"><i class="fa fa-shopping-cart"></i> Comprar <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            @*<div class="row multi-columns-row">
                @foreach (var produto in Model)
                {
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="shop-item">
                            <div class="shop-item-image">
                                <img src="@produto.ProdutoFoto" alt="Accessories Pack" />
                                <div class="shop-item-detail"><a asp-controller="PreCarrinho" asp-action="Index" asp-route-id="@produto.ProdutoId" class="btn btn-border-d btn-circle"><i class="fa fa-search"></i> Detalhes</a></div>
                            </div>
                            <h4 class="shop-item-title font-alt"><a href='#'>@produto.ProdutoNome</a></h4>R$@produto.ProdutoValor
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center;"><a asp-controller="PreCarrinho" asp-action="Index" asp-route-id="@produto.ProdutoId" class="btn btn-success btn-circle" type="button"><i class="fa fa-shopping-cart"></i> Carrinho</a></div>
                    </div>
                }
            </div>*@
        </div>
    </section>
    @*<section class="module" data-background="~/asssets/background2.png">*@
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3 class="module-title font-alt">Categorias</h3>
                    @*<div class="module-subtitle font-serif">Categorias selecionadas especialmente para você</div>*@
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false" style="padding-left: 3em; padding-bottom: 2em;">
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/tintas_home_2020.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Tintas</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/eva_home_2020.jpg" alt="Derby shoes" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Evas</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/decoupage_home_2020.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Decoupage</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/ferramentas_home_2020.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Ferramentas</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/pinceis_home_2020.jpg" alt="Chelsea boots" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Pincéis</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</section>*@
</form>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                $(this).toggleClass('open');
            }
        );
    });
</script>